---
const { title, description, image } = Astro.props
---
<>
  <title>{title}</title>
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="description" content={description} />
  <meta name="twitter:site" content="@polpielladev" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content={image} />
  <meta name="twitter:image" content={image} />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
</>
